---

# ------------------------------------------------------------------------
# ANSIBLE SPECIFIC VARS
# ------------------------------------------------------------------------

# User that ansible will use to log in with
playbook_remote_user: username

# Directory that will be created that's used to ensure idempotence for 
# things that were done that doesn't have built-in idempotence
playbook_metadata_dir: "/home/username/.ansible_metadata"

# ------------------------------------------------------------------------
# REALMD HOST NAME OVERRIDE
# ------------------------------------------------------------------------

# If you want to override the entire name of the computer explicitly, then
# include this variable. This should be done on a per-host basis and NOT in 
# this file (i.e. put it in group_vars/myhostname.yml).
# realmd_computer_name_override: "MYCOMPUTERNAME"

# ------------------------------------------------------------------------
# VAULT VARS
# ------------------------------------------------------------------------
# Be sure to include these variables in your own group_vars/vault.yml file
# Note that this user needs to be able add/remove computers
# vault_ad_user: <AD username>
# vault_ad_pass: <AD password>