---

# ------------------------------------------------------------------------
# ANSIBLE SPECIFIC VARS
# ------------------------------------------------------------------------

# User that ansible will use to log in with
playbook_remote_user: username

# ------------------------------------------------------------------------
# MKHOMEDIR VARS
# ------------------------------------------------------------------------

# Whether or not to run the mkhomedir role to automatically create a 
# directory on login using oddjob-mkhomedir.
automatically_mkhomedir: true

# Look at the AD AND REALMD VARS section for the directory it will create 
# it in

# ------------------------------------------------------------------------
# NTP VARS
# ------------------------------------------------------------------------

timezone: "America/Boise"

# Whether or not you want to use the pool servers that come default with
# chrony, or if you want to specify an NTP server below in ntp_server.
use_default_ntp_servers: false

# Your preferred ntp servers. This has no effect if use_default_ntp_server
# is true.
ntp_servers: 
  - addr: 0.pool.ntp.org
  - addr: 1.pool.ntp.org

# ------------------------------------------------------------------------
# AD AND REALMD VARS
# See https://www.freedesktop.org/software/realmd/docs/realmd-conf.html
# ------------------------------------------------------------------------

# The active directory realm / domain. Will be used as the keroberos 
# domain as well.
ad_domain: AD.DOMAIN.COM

# Override the user's home directory for the AD domain
realmd_default_homedir: "/home/%D/%U"

# The default shell to use if the provider does not provide one during
# lookup. This option supersedes any other shell options if it takes effect
realmd_default_shell: "/bin/bash"

# The place to create a directory computer accounts
realmd_computer_ou: "OU=Linux Computers,DC=domain,DC=example,DC=com"

# By default, this playbook will use the short hostname of the host
# as the computer name. If you want to add a prefix to this, then
# add this here. If you want to completely override this name, then see
# REALMD HOST NAME OVERRIDE.
realmd_computer_name_prefix: ""

# Use the full name and domain as the user's login name reported to NSS
realmd_use_fully_qualified_names: false

# If you would like to restrict access to your server to certain groups,
# then modify this variable to contain a yaml list of group name(s).
# Example:
# realmd_allowed_groups:
#	- group_name: adgroup1
#	- group_name: adgroup2
realmd_allowed_groups: []

# If you would like to ensure that certain groups have sudo access, then put
# those groups here
# ad_sudoer_groups:
#	- group_name: group1
#	- group_name: group2
ad_sudoer_groups: []

# If sudoer groups are added, this comment will surround the lines added in 
# the sudoer file
ad_sudoer_comment_begin_block: "#BEGIN ANSIBLE MANAGED BLOCK FOR SUDOER GROUP(S)"
ad_sudoer_comment_begin_block_regex: "#BEGIN"
ad_sudoer_comment_end_block: "#END ANSIBLE MANAGED BLOCK FOR SUDOER GROUP(S)"
ad_sudoer_comment_end_block_regex: "#END"

# ------------------------------------------------------------------------
# REALMD HOST NAME OVERRIDE
# ------------------------------------------------------------------------

# If you want to override the entire name of the computer explicitly, then
# include this variable. This should be done on a per-host basis and NOT in 
# this file (i.e. put it in group_vars/myhostname.yml).
# realmd_computer_name_override: "MYCOMPUTERNAME"

# ------------------------------------------------------------------------
# VAULT VARS
# ------------------------------------------------------------------------
# Be sure to include these variables in your own group_vars/vault.yml file
# Note that this user needs to be able add/remove computers
# vault_ad_user: <AD username>
# vault_ad_pass: <AD password>